.main {
	max-width: 960px;
	margin: auto;
}

/*Main Nav*/

.main-nav {
	line-height: 80px;
	max-width: 960px;
	text-align: center;
}

.main-nav ul {
	margin: auto;
	margin: 0;
	padding: 0;
}

.main-nav li {
	list-style: none;
	display: inline-block;
	padding: 10px;
	margin-right: 10px;
}

.main-nav a {
	font-size: 90%;
	text-decoration: none;
	color: #c0c0c0;
}

/*Content*/

.content {
	padding: 0px 20px;
}

.content p {
	font-size: 90%;
	text-align: center;
}

.content img {
	display: block;
	max-width: 90%;
	margin: auto;

}

/*Gallery*/

.gallery img {
	display: inline-block;
}

@media screen and (max-width: 460px) {
	.gallery img { display: block; margin-top: 4px;}

@media screen and (max-width: 460px) {
	.main-nav li { display: block; line-height: 10px;}
}

