/*Main Nav*/

.main-nav {
	line-height: 80px;
	max-width: 960px;
	margin: auto;
	text-align: center;
}

.main-nav li {
	list-style: none;
	display: inline-block;

}

.main-nav a {
	font-size: 90%;
	text-decoration: none;
	color: #c0c0c0;
}

/*Content*/

.content {
	min-width: 510px;
}

.content p {
	font-size: 90%;
}

.content img {
	max-width: 100%;
}

/*Gallery*/

.gallery img {
	display: inline-block;
}


